body {
  margin: 1%;
}

span {
  margin: 1%;
  font-size: 30px;
  background-color: #e9e9e9;
  padding: 1%;
}

input {
  height: 50px;
  margin: 1%;
  border-radius: 3%;
  border-color: #c9c9c9;
  font-size: 18px;
}

button{
  height: 50px;
  background-color: #C62828;
  color: #f8f8f8;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 1%;
  margin: 1%;
}